body {
    display: flex;
    justify-content: center;
    background-image: url(./react.png);
}

.geral {
    padding-top:6px ;
    height: 300px;
    width: 500px;
    margin-top: 200px;
    background-size: 500% 100%;
    background-image: linear-gradient(to right, rgb(25, 0, 255), rgb(25, 0, 255), rgb(255, 0, 234), rgb(25, 0, 255));
    animation: animade 10s infinite linear;
    display: flex;
    justify-content: center;
    border-radius: 22px;
}
.divbg{
    background-color: black;
    width: 98%;
    height: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-radius: 22px;
    gap: 12px;
}

.copyLink {
    margin-top: 32px;
}


input {
    width: 320px;
    text-align: center;
    border-radius: 12px;
    height: 32px;
}
img{
    width: 30px;
    height: 29px;
    margin-bottom: -2px;
    
}


button { 
    text-align: center;
    justify-content: center;
    display: flex;
    margin-left: 290px;
    margin-top: -34px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
}

button:hover {
   transform: scale(1.3);
   transition: .6s ;
}
@keyframes animade {
    0% {
        background-position: 0% 100%;
    }

    /*50%  {background-position: 100% 50%;}*/
    100% {
        background-position: 100% 0%;
    }
}